<!DOCTYPE html>
<html	lang="ko"
		 xmlns="http://www.w3.org/1999/xhtml"
		 xmlns:th="http://www.thymeleaf.org"
		 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/head :: headFragment"></th:block>
<body class="pc__bg">
<!-- content -->
<section layout:fragment="content">
	<p>Page content goes here</p>
</section>

	<th:block th:replace="fragments/bottomScript :: bottomScriptFragment"></th:block>

<section layout:fragment="contentScriptFragment"></section>
</body>
</html>

