<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!-- 공통 헤더-->
<th:block th:replace="fragments/head :: headFragment"></th:block>
<body>
<!-- content -->
<section layout:fragment="myReserve" style="padding-bottom: 8vh">
	<p>Page content goes here</p>
</section>
<script th:src="@{/resources/js/wedding/reserveCancelBtn.js}" type="text/javascript"></script>
<script th:src="@{/resources/js/wedding/moveTopBtn.js}" type="text/javascript"></script>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<th:block th:replace="fragments/topBtn :: topBtnFragment"></th:block>
</body>
</html>