<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!-- 공통 헤더-->
<th:block th:replace="fragments/head :: headFragment"></th:block>
<body>
<!-- content -->
<section layout:fragment="content" style="padding-bottom: 8vh">
    <p>Page content goes here</p>
</section>

<th:block th:replace="fragments/topBtn :: topBtnFragment"></th:block>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

<th:block layout:fragment="script">
	<script th:src="@{/resources/js/wedding/imgToBig.js}"
	        type="text/javascript"></script>
	<script th:src="@{/resources/js/wedding/backBtn.js}"
	        type="text/javascript"></script>
	<script th:src="@{/resources/js/wedding/index.js}"
	        type="text/javascript"></script>
	<script th:src="@{/resources/js/wedding/localJoin.js}"
	        type="text/javascript"></script>
	<script th:src="@{/resources/js/wedding/plannerDetail.js}"
	        type="text/javascript"></script>
	<script th:src="@{/resources/js/wedding/star.js}"
	        type="text/javascript"></script>
	<script th:src="@{/resources/js/wedding/textareaMax.js}"
	        type="text/javascript"></script>

	<script th:src="@{/resources/js/wedding/weddingDetail.js}"
	        type="text/javascript"></script>
	<script th:src="@{/resources/js/wedding/moveTopBtn.js}" type="text/javascript"></script>

</th:block>
</body>
</html>