<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!-- 공통 헤더-->
<th:block th:replace="fragments/head :: headFragment"></th:block>
<body>
<!-- content -->
<section layout:fragment="content" style="padding-bottom: 8vh">
    <p>Page content goes here</p>
</section>

<th:block th:replace="fragments/topBtn :: topBtnFragment"></th:block>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

<th:block layout:fragment="script">

	<script th:src="${@versionComponent.getVersion('/resources/build/plannerReviewData.bundle.js')}"
	        type="text/javascript"></script>

	<script th:src="${@versionComponent.getVersion('/resources/build/reserveCancelBtn.bundle.js')}"
	        type="text/javascript"></script>

	<script th:src="${@versionComponent.getVersion('/resources/build/reviewBtn.bundle.js')}"
	        type="text/javascript"></script>

	<script th:src="${@versionComponent.getVersion('/resources/build/moveTopBtn.bundle.js')}"
	        type="text/javascript"></script>

	<script th:src="${@versionComponent.getVersion('/resources/build/imgToBig.bundle.js')}"
	        type="text/javascript"></script>

	<script th:src="${@versionComponent.getVersion('/resources/build/backBtn.bundle.js')}"
	        type="text/javascript"></script>

	<script th:src="${@versionComponent.getVersion('/resources/build/index.bundle.js')}"
	        type="text/javascript"></script>

	<script th:src="${@versionComponent.getVersion('/resources/build/plannerDetail.bundle.js')}"
	        type="text/javascript"></script>

	<script th:src="${@versionComponent.getVersion('/resources/build/star.bundle.js')}" type="text/javascript"></script>

	<script th:src="${@versionComponent.getVersion('/resources/build/textareaMax.bundle.js')}"
	        type="text/javascript"></script>

    <script th:src="${@versionComponent.getVersion('/resources/build/weddingDetail.bundle.js')}"
            type="text/javascript"></script>

    <script th:src="${@versionComponent.getVersion('/resources/build/numberChangeKorean.bundle.js')}"
            type="text/javascript"></script>

    <script th:src="${@versionComponent.getVersion('/resources/build/counselCheckBtn.bundle.js')}"
            type="text/javascript"></script>



</th:block>
</body>
</html>