.reserveCard {
  border-radius: 2vw;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  border: 1px solid black;


  .Photosec {
    width: 30vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .wedPhoto {
      width: 30vw;
      height: auto;
      border: 1px solid black;
      border-radius: 2vw;
      //margin-top: 3.5rem;
    }
  }
}