.wedCard {
  display: flex;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  border-bottom-left-radius: 1vh;
  padding: 0.5vh;
  align-items: center;
  justify-content: space-between;

  .imgInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .thumbImg {
      width: 10vh;
      height: 10vh;
      border: 1px solid black;
      border-radius: 2vh;
    }
  }

  .changeWedBtn {
    width: 10vh;
    height: 10vh;
    border: 1px solid black;
    border-radius: 2vh;
  }
}

.hallCardSec {
  .hallCard {
    display: flex;
    border: 1px solid black;
    border-radius: 2vh;
    padding: 0 0.5vh;
    align-items: center;
    justify-content: space-between;
  }

  th {
    padding: 0;
  }

  td {
    padding: 0 5vh;
  }

  .changeHallBtn {
    width: 10vh;
    height: 6vh;
    border: 1px solid black;
    border-radius: 2vh;
  }
}
.addHall {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.addHallForm, .updateHallForm {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top-right-radius: 2vw;
  border-top-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  border-bottom-left-radius: 2vw;


  .minMaxPeople {
    display: flex;

    input {
      width: 25vw;
    }
  }

  .timeForm {
    .inputParent {
      position: relative;

      .bi-clock {
        position: absolute;
        left: 22vw;
        top: 0;
      }
    }

    .timeInput {
      border: 1px solid black;
      border-radius: 2vh;
      width: 28vw;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
    }

    td {
      display: flex;
    }
  }

  .uploadPhoto {
    .file-list-out{
      ::-webkit-scrollbar {
        //display: none;
        width: 3px;
        height: 3px;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #e2e4e5 /*스크롤바의 색상*/
      }
      .file-list{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        .filebox{
          height: 20vh;
          border: 0px;
          flex: 0 0 auto;
          .delete{
            color: #ff5353;
            margin-left: 5px;
            .selProductFile{
              object-fit : contain;
              width: 30vw;
              height: 30vw;
              border: 1px solid black;
              border-radius: 2vw;
            }
            i{
              color: #ff5353;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
.file-list {

  ::-webkit-scrollbar {
    //display: none;
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #e2e4e5 /*스크롤바의 색상*/
  }
    height: 130px;
    overflow: auto;
    border: 1px solid #989898;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    .filebox{
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      font-size: 14px;
      .delete{
        color: #ff5353;
        margin-left: 5px;
        .selProductFile{
          object-fit : contain;
          width: 30vw;
          height: 30vw;
          border: 1px solid black;
          border-radius: 2vw;
        }
        i{
          color: #ff5353;
          margin-left: 5px;
        }
      }

    }

  }

}
