<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
	<head>
		<meta charset="utf-8">
		<meta content="IE=Edge" http-equiv="X-UA-Compatible">
		<meta content="ALL" name="robots">
		<meta content="index,follow" name="robots">
		<meta content="1 days" name="revisit-after">
		<meta content="여보야" name="Subject">
		<meta content="결혼, 재혼, 배우자를 찾는 스마트한 방법, 가입비 주선비 성혼비 무료, 여성결혼대상자 무료, 문의 1522-3379" name="description">
		<meta content="결혼, 재혼, 결혼어플, 소개팅어플, 소개팅" name="keywords">
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
		      name="viewport">
		<meta content="true" name="HandheldFriendly">
		<meta content="yes" name="mobile-web-app-capable">
		<meta content="telephone=no" name="format-detection">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon.ico" rel="shortcut icon"
		      type="image/x-icon">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon.ico" rel="icon" type="image/x-icon">

		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-57x57.png" rel="apple-touch-icon"
		      sizes="57x57">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-60x60.png" rel="apple-touch-icon"
		      sizes="60x60">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-72x72.png" rel="apple-touch-icon"
		      sizes="72x72">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-76x76.png" rel="apple-touch-icon"
		      sizes="76x76">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-114x114.png" rel="apple-touch-icon"
		      sizes="114x114">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-120x120.png" rel="apple-touch-icon"
		      sizes="120x120">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-144x144.png" rel="apple-touch-icon"
		      sizes="144x144">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-152x152.png" rel="apple-touch-icon"
		      sizes="152x152">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-180x180.png" rel="apple-touch-icon"
		      sizes="180x180">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/android-icon-192x192.png" rel="icon"
		      sizes="192x192"
		      type="image/png">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon-32x32.png" rel="icon" sizes="32x32"
		      type="image/png">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon-96x96.png" rel="icon" sizes="96x96"
		      type="image/png">
		<link href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon-16x16.png" rel="icon" sizes="16x16"
		      type="image/png">
		<meta content="#ffffff" name="msapplication-TileColor">
		<meta content="https://image.yeoboya.com/imgs/new_wedding/favicon/ms-icon-144x144.png"
		      name="msapplication-TileImage">
		<meta content="#ffffff" name="theme-color">

		<link href="https://m.yeoboya.com" rel="canonical">

		<link href="/css/m_yby_font.css" rel="stylesheet" type="text/css">
		<link href="/css/m_yby_default.css" rel="stylesheet" type="text/css">
		<link href="/css/m_yby_popup.css" rel="stylesheet" type="text/css">
		<link href="/css/mobile.css" rel="stylesheet" type="text/css">
		<link href="/css/m_yby_seem.css" rel="stylesheet" type="text/css">
		<link href="/css/m_yby_mainlist.css" rel="stylesheet" type="text/css">

		<script src="/resources/vendors/polyfill.min.js"></script>
		<script src="/resources/vendors/jquery.min.js"></script>
		<script src="/resources/vendors/lodash.min.js"></script>
		<script src="/resources/vendors/axios.min.js"></script>
		<script src="/resources/vendors/moment.min.js"></script>
		<script src="/resources/vendors/jquery-mobile.event.min.js"></script>
		<script th:src="${@versionComponent.getVersion('/resources/build/onLoad.bundle.js')}"
		        type="text/javascript"></script>

		<!--	실험 부트스트랩-->
		<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		      rel="stylesheet">
		<script crossorigin="anonymous"
		        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
		<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
		      integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n"
		      rel="stylesheet">
		<link href="/css/wedding/mobiscroll.javascript.min.css" rel="stylesheet" type="text/css">
		<link href="/css/wedding/moveTopBtn.css" rel="stylesheet" type="text/css">

		<script src="/resources/js/wedding/mobiscroll.javascript.min.js"></script>
	</head>
</th:block>
</html>
