<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	      name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>Document</title>

</head>
<body>
<div th:fragment="headerFragment">
	<nav class="navbar navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand mx-3">
				<img class="logoIcon" onClick="location.href='/'" src="/imgs/logo.png" style="width: 2rem">
			</a>
			<form action="/inputSearch" class="d-flex searchSec">
				<input class="form-control searchInput text-center" name="keyword" placeholder="웨딩홀 명을 입력하세요"
				       type="search">
				<!--				<input class="hidden" name="ck" value="rs">-->
				<!--				<input class="hidden" name="clasify" value="웨딩홀">-->
				<!--				<input class="hidden" name="offset" value="0">-->
				<button class="searchBtn " type="submit"><i class="bi bi-search"></i></button>
			</form>
		</div>
	</nav>
</div>
</body>
</html>
