<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/otherPageLayout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" th:href="@{/css/wedding/adminReserve.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div layout:fragment="content">
	<!-- 헤더 -->
	<nav class="navbar navbar-light bg-light">
		<div class="container mx-3">
			<a class="navbar-brand" href="/">
				<img class="logoIcon" src="/imgs/logo.png" style="width: 2rem">
			</a>
			<a class="navbar-brand " style="margin-right: 2rem">
				<strong>예약 관리</strong>
			</a>
			<a>
			</a>
		</div>
	</nav>
	<!-- 컨텐츠 -->
	<div class="content">
		<div class="searchDate">
			<input class="searchDateBtn  mx-3 my-2 text-center" id="date" th:placeholder="${Date}">
		</div>
		<div class="flexDiv mx-3 mt-3" th:each="HallList:${HallList}">
			<div class="hallCardSec mt-1 ">
				<div class="hallCard">
					<div class="wedInfo mx-3">
						<table class="table table-borderless my-2">
							<tbody>
							<tr>
								<th scope="row" th:text="${HallList.getHName()}">1번홀</th>
							</tr>
							<tr>
								<th scope="row">예약된 회차</th>
								<td>5</td>
							</tr>
							</tbody>
						</table>
					</div>
					<button aria-expanded="false" class="changeHallBtn"
					        data-bs-toggle="collapse"
					        th:aria-controls="'collapse'+${HallList.getHIdx()}"
					        th:data-bs-target="'#collapse'+${HallList.getHIdx()}" type="button">예약보기
					</button>
				</div>
			</div>
			<!--홀 시간 보기 아코디언-->
			<div class="collapse mx-3 my-2" th:id="'collapse'+${HallList.getHIdx()}">
				<div class="timeTable mx-2 my-2" th:each="HallTimeList:${HallTimeList}"
				     th:if="${HallList.getHName()} == ${HallTimeList.getHName()}">
					<div th:text="${HallTimeList.getSTime()} + ' ~ ' + ${HallTimeList.getETime()}">10:00~12:00</div>
					<div th:if="${not #strings.isEmpty(HallTimeList.getUName())}" th:text="${HallTimeList.getUName()}">
						홍길동
					</div>
					<div th:if="${not #strings.isEmpty(HallTimeList.getUTel())}" th:text="${HallTimeList.getUTel()}">
						010-0000-0000
					</div>
					<div th:if="${#strings.isEmpty(HallTimeList.getUName())}" th:text="비어있음">홍길동</div>
					<div th:if="${#strings.isEmpty(HallTimeList.getUTel())}" th:text=" ' '">
						010-0000-0000
					</div>


				</div>
			</div>
		</div>

	</div>


</div>

</body>
</html>