<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/changeMyInfoLayout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
	<link href="/css/wedding/changeMyInfo.css" rel="stylesheet" type="text/css">

</head>
<body>
<div layout:fragment="myChangeInfo">
	<!-- 헤더 -->
	<nav class="navbar navbar-light bg-light sticky-top">
		<div class="container mx-3">
			<a class="navbar-brand" href="/">
				<img class="logoIcon" src="/imgs/logo.png" style="width: 2rem">
			</a>
			<a class="navbar-brand " style="margin-right: 2rem">
				<strong>정보 수정</strong>
			</a>
			<a>
			</a>
		</div>
	</nav>
	<div class="outerChange">
		<div>
			<div class="explain text-center">
				<p>회원임의 개인정보 보호를 위해</p>
				<p>비밀번호를 입력하세요</p>
			</div>
			<div class="passwordCheck">
				<input class="form-control mb-3" id="exampleInputPassword1" type="password">
			</div>
			<div class="chageInfo d-grid gap-2 col-6 mx-auto">
				<button class="changeInfoBtn btn btn-light border-dark" onClick="location.href='/changeMyInfoForm'"
				        type="button">정보수정
				</button>
				<button class="deleteInfoBtn btn btn-light border-dark" data-bs-target="#deleteModal"
				        data-bs-toggle="modal"
				        type="button">회원탈퇴
				</button>
				<button class="logoutBtn btn btn-light border-dark" type="button">로그아웃</button>
			</div>
		</div>
	</div>

	<!-- 모달	-->
	<div aria-hidden="true" aria-labelledby="deleteModalLabel" class="modal fade" id="deleteModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered" style="height: 40vh">
			<div class="modal-content text-center">
				<div class="modal-body mx-4 mt-4">
					<strong>정말로 탈퇴 하시겠습니까?</strong>
					<div class="d-grid gap-2 col-4 mx-auto mt-4">
						<button class="btn btn-light btn-outline-dark" data-bs-dismiss="modal" type="button">확인</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>