<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link href="/css/wedding/login.css" rel="stylesheet" type="text/css">
	<th:block th:replace="fragments/head :: headFragment"></th:block>


</head>
<body>
<div>

	<div class="logoSection">
		<img class="logoIcon" src="/imgs/logo.png">
	</div>
	<div class="loginForm mx-3">
		<form>
			<div class="mb-3 mx-3">
				<label class="form-label" for="inputId">아이디</label>
				<input aria-describedby="emailHelp" class="form-control" id="inputId" placeholder="아이디를 입력하세요"
				       type="text">
			</div>
			<div class="mb-3 mx-3">
				<label class="form-label" for="inputPassword">비밀번호</label>
				<input class="form-control" id="inputPassword" placeholder="비밀번호를 입력하세요" type="password">
			</div>
			<div class="mb-3 form-check mx-3">
				<input class="form-check-input" id="RememId" type="checkbox">
				<label class="form-check-label" for="RememId">아이디 기억하기</label>
			</div>
			<div class="btnGroup d-grid gap-2 col-7 mx-auto">
				<button class="btn btn-light btn-outline-dark" data-bs-target="#loginModal" data-bs-toggle="modal"
				        type="button">
					로그인
				</button>
				<btn class="btn py-0" onClick="location.href='/socialJoin'" style="background-color: #03C75A"
				     type="button">
					<img alt="" src="/imgs/btnG_naver.png" style="width: 100%;height: auto">
				</btn>
				<btn class="btn py-1" style="background-color: #FEE500">
					<img alt="" src="/imgs/kakaoLogin.png" style="width: 100%;height: auto">
				</btn>
				<button class="btn" onClick="location.href='/localJoin'" type="button">
					회원가입
				</button>
			</div>
		</form>
	</div>

	<!-- 모달	-->
	<div aria-hidden="true" aria-labelledby="loginModalLabel" class="modal fade" id="loginModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered" style="height: 40vh">
			<div class="modal-content text-center">
				<div class="modal-body mx-4 mt-4">
					<strong>잘못된 아이디 또는 비밀번호 입니다.</strong>
					<div class="d-grid gap-2 col-4 mx-auto mt-4">
						<button class="btn btn-light btn-outline-dark" data-bs-dismiss="modal" type="button">확인</button>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
</body>
</html>