<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/otherPageLayout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="/css/wedding/weddingDetail.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" th:href="@{/css/wedding/AreaModal.css}">
	<link rel="stylesheet" th:href="@{/css/wedding/imgToBig.css}">
	<link href="/css/wedding/myCounselPage.css" rel="stylesheet" type="text/css">
	<link href="/css/wedding/plannerDetail.css" rel="stylesheet" type="text/css">
	<link href="/css/wedding/star.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" th:href="@{/css/wedding/AreaModal.css}">

</head>
<body>
<div layout:fragment="content">
	<!-- 헤더 -->
	<header class="sticky-top ">
		<nav class="navbar navbar-light bg-light ">
			<div class="container mx-3">
				<a class="navbar-brand" href="/">
					<img class="logoIcon" src="/imgs/logo.png" style="width: 2rem">
				</a>
				<a class="navbar-brand " style="margin-right: 2rem">
					<strong>내 후기 보기</strong>
				</a>
				<a>
				</a>
			</div>
		</nav>

		<!--후기 보기시 등장하는 헤더-->
		<div class="sticky-top  commentTop" style="background-color: white">
			<!--별점기능-->
			<div>
				<div class="outerStar" style="justify-content: flex-start">
					<div class="mt-2 mx-3">플래너 후기</div>
					<span class="star text" style="font-size: 1.5rem">
					  ★★★★★
						<!-- width 값 에 db값 * 10 % 해서 별 출력-->
					  <span style="width: 50%">★★★★★</span>
					  <input max="10" min="0" name="star1" step="1" type="range" value="1">
					</span>
					<div class="mt-2 mx-2"><strong>2.5</strong></div>
				</div>
			</div>
			<div>
				<button class="btn btn-light mx-3 sortBtn" onclick="controllSortModal()" style="font-size: 0.5rem">
					최신순▼
				</button>
			</div>
		</div>
	</header>

	<!-- 후기 보기 -->
	<div class="commentSec ">
		<div class="countComment mt-2 mx-4" style="color: gray">
			<i class="bi bi-people-fill mx-1"></i>32
		</div>
		<!--후기댓글	-->
		<div class="comment">
			<div class="outerStar mx-3" style="justify-content: flex-start">
				<div class="mt-1 mx-1">유저 아이디</div>
				<span class="star text" style="font-size: 1rem">
					  ★★★★★
					<!-- width 값 에 db값 * 10 % 해서 별 출력-->
					  <span style="width: 80%">★★★★★</span>
					  <input max="10" min="0" name="star1" step="1" type="range" value="1">
				</span>
			</div>
			<div class="plannerIntro mx-3 mb-2">
				<div class="commentView px-2">
					너무 좋아요!
				</div>
			</div>
		</div>
		<!--후기댓글	-->
		<div class="comment">
			<div class="outerStar mx-3" style="justify-content: flex-start">
				<div class="mt-1 mx-1">유저 아이디</div>
				<span class="star text" style="font-size: 1rem">
					  ★★★★★
					<!-- width 값 에 db값 * 10 % 해서 별 출력-->
					  <span style="width: 80%">★★★★★</span>
					  <input max="10" min="0" name="star1" step="1" type="range" value="1">
				</span>
			</div>
			<div class="plannerIntro mx-3 mb-2">
				<div class="commentView px-2">
					정말 친절하고 좋은 분이였습니다.
				</div>
			</div>
		</div>
		<!--후기댓글	-->
		<div class="comment">
			<div class="outerStar mx-3" style="justify-content: flex-start">
				<div class="mt-1 mx-1">유저 아이디</div>
				<span class="star text" style="font-size: 1rem">
					  ★★★★★
					<!-- width 값 에 db값 * 10 % 해서 별 출력-->
					  <span style="width: 80%">★★★★★</span>
					  <input max="10" min="0" name="star1" step="1" type="range" value="1">
				</span>
			</div>
			<div class="plannerIntro mx-3 mb-2">
				<div class="commentView px-2">
					아이템들의 사이와 양 끝에 균일한 간격을 만들어 줍니다.
					주의! IE와 엣지(Edge)에서는 지원되지 않습니다👎
					이 웹사이트의 메뉴 부분은 브라우저 폭이 1024px 이상일 때 space-evenly가 적용되도록 했는데요, IE와 엣지에서만 space-around로 적용이 되도록 처리해
					두었어요.
				</div>
			</div>
		</div>
		<!--후기댓글	-->
		<div class="comment">
			<div class="outerStar mx-3" style="justify-content: flex-start">
				<div class="mt-1 mx-1">유저 아이디</div>
				<span class="star text" style="font-size: 1rem">
					  ★★★★★
					<!-- width 값 에 db값 * 10 % 해서 별 출력-->
					  <span style="width: 80%">★★★★★</span>
					  <input max="10" min="0" name="star1" step="1" type="range" value="1">
				</span>
			</div>
			<div class="plannerIntro mx-3 mb-2">
				<div class="commentView px-2">
					너무 좋아요!
				</div>
			</div>
		</div>
		<!--후기댓글	-->
		<div class="comment">
			<div class="outerStar mx-3" style="justify-content: flex-start">
				<div class="mt-1 mx-1">유저 아이디</div>
				<span class="star text" style="font-size: 1rem">
					  ★★★★★
					<!-- width 값 에 db값 * 10 % 해서 별 출력-->
					  <span style="width: 80%">★★★★★</span>
					  <input max="10" min="0" name="star1" step="1" type="range" value="1">
				</span>
			</div>
			<div class="plannerIntro mx-3 mb-2">
				<div class="commentView px-2">
					너무 좋아요!
				</div>
			</div>
		</div>
		<!--후기댓글	-->
		<div class="comment">
			<div class="outerStar mx-3" style="justify-content: flex-start">
				<div class="mt-1 mx-1">유저 아이디</div>
				<span class="star text" style="font-size: 1rem">
					  ★★★★★
					<!-- width 값 에 db값 * 10 % 해서 별 출력-->
					  <span style="width: 80%">★★★★★</span>
					  <input max="10" min="0" name="star1" step="1" type="range" value="1">
				</span>
			</div>
			<div class="plannerIntro mx-3 mb-2">
				<div class="commentView px-2">
					너무 좋아요!
				</div>
			</div>
		</div>
		<!--후기댓글	-->
		<div class="comment">
			<div class="outerStar mx-3" style="justify-content: flex-start">
				<div class="mt-1 mx-1">유저 아이디</div>
				<span class="star text" style="font-size: 1rem">
					  ★★★★★
					<!-- width 값 에 db값 * 10 % 해서 별 출력-->
					  <span style="width: 80%">★★★★★</span>
					  <input max="10" min="0" name="star1" step="1" type="range" value="1">
				</span>
			</div>
			<div class="plannerIntro mx-3 mb-2">
				<div class="commentView px-2">
					너무 좋아요!
				</div>
			</div>
		</div>
		<!--후기댓글	-->
		<div class="comment">
			<div class="outerStar mx-3" style="justify-content: flex-start">
				<div class="mt-1 mx-1">유저 아이디</div>
				<span class="star text" style="font-size: 1rem">
					  ★★★★★
					<!-- width 값 에 db값 * 10 % 해서 별 출력-->
					  <span style="width: 80%">★★★★★</span>
					  <input max="10" min="0" name="star1" step="1" type="range" value="1">
				</span>
			</div>
			<div class="plannerIntro mx-3 mb-2">
				<div class="commentView px-2">
					너무 좋아요!
				</div>
			</div>
		</div>
		<!--후기댓글	-->
		<div class="comment">
			<div class="outerStar mx-3" style="justify-content: flex-start">
				<div class="mt-1 mx-1">유저 아이디</div>
				<span class="star text" style="font-size: 1rem">
					  ★★★★★
					<!-- width 값 에 db값 * 10 % 해서 별 출력-->
					  <span style="width: 80%">★★★★★</span>
					  <input max="10" min="0" name="star1" step="1" type="range" value="1">
				</span>
			</div>
			<div class="plannerIntro mx-3 mb-2">
				<div class="commentView px-2">
					너무 좋아요!
				</div>
			</div>
		</div>
		<!--후기댓글	-->
		<div class="comment">
			<div class="outerStar mx-3" style="justify-content: flex-start">
				<div class="mt-1 mx-1">유저 아이디</div>
				<span class="star text" style="font-size: 1rem">
					  ★★★★★
					<!-- width 값 에 db값 * 10 % 해서 별 출력-->
					  <span style="width: 80%">★★★★★</span>
					  <input max="10" min="0" name="star1" step="1" type="range" value="1">
				</span>
			</div>
			<div class="plannerIntro mx-3 mb-2">
				<div class="commentView px-2">
					너무 좋아요!
				</div>
			</div>
		</div>
	</div>

	<!-- 예약 확인 영역과 간격을 위한 div-->
	<div style="height: 8vh"></div>
	<!--예약 확인 영역 -->
	<div class="checkTime fixed-bottom">
		<div class="checkTimeInput">견적 : 1.000.000</div>
		<button class="btn btn-sm btn-light border-dark" type="button">상담신청</button>
	</div>
	<!-- 정렬 모달-->
	<div class="testModal hidden sortModal">
		<div class="testModalShape modal-content">
			<div class="modal-header d-flex justify-content-center align-content-center">
				<h5 class="modal-title">
					분류
				</h5>
				<button class="modalCloseBtn" onclick="controllSortModal()">
					<i class="bi bi-x-circle"></i>
				</button>
			</div>
			<div class="modal-body">
				<div class="modalOption sortOption">최신순▼</div>
				<div class="modalOption sortOption">별점높은순▼</div>
				<div class="modalOption sortOption">별점낮은순▼</div>
			</div>
		</div>
	</div>


</div>
</body>
</html>