<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/mainpageLayout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" th:href="@{/css/wedding/index.css}">
	<link rel="stylesheet" th:href="@{/css/wedding/AreaModal.css}">
	<link rel="stylesheet" th:href="@{/css/wedding/searchResult.css}">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
<div layout:fragment="mainpage">
	<!-- 분류 지역 날짜선택 검색 바	-->
	<div class="sticky-top" style="background-color: white">
		<form action="/searchResult" class="searchHeader d-flex justify-content-between mx-4 my-4">
			<input class="indexSearchBtn  mx-2 my-2 clasifyBtn" name="clasify" readonly
			       th:value="${OriginData[0]}">
			<input class="indexSearchBtn  mx-2 my-2 locationBtn" name="location" readonly
			       th:value="${OriginData[1]}">
			<input class="indexSearchBtn  mx-2 my-2 text-center" id="date" name="date" th:value="${OriginData[2]}">
			<input class="hidden" name="ck" readonly value="rs">
			<input class="hidden" name="offset" readonly value="0">
			<button class="indexSearchBtn  mx-2 my-2" type="submit">검색</button>
		</form>
		<div class="sticky-top  commentTop px-2" style="background-color: white">
			<div>
				<button class="btn btn-light mx-3 sortBtn" style="font-size: 0.5rem" th:text="${OriginData[3]}">
					최신순▼
				</button>
			</div>
		</div>
	</div>
	<div class="mySearch">
		<div th:each="ResultData: ${ResultDatas}">
			<div th:switch="${OriginData[0]}">
				<!--웨딩홀 카드-->
				<div class="resWedCard mx-3 mt-2" th:case="웨딩홀">
					<div class="imgSec">
						<img class="mx-2 my-2" src="/imgs/noImage.png">
					</div>
					<div class="infoSec mx-2">
						<div class="my-2" th:text="${ResultData.getUName()}">웨딩홀명</div>
						<div class="my-2" th:text="${ResultData.getCAddr()}">주소</div>
						<div class="my-2" th:text="${ResultData.getHPrice()}">금액</div>
						<div class="reservePrice my-2">
							<div class="resBtn mx-4">예약가능</div>
						</div>
					</div>
				</div>
				<!-- 플래너 카드-->
				<div class="resPlanCard mx-3 mt-2" th:case="플래너">
					<div class="imgSec">
						<img class="mx-2 my-2 img" src="/imgs/PlannerPhoto.jpg">
					</div>
					<div class="infoSec mx-2">
						<div class="my-2" th:text="${ResultData.getUName()}">플래너 이름</div>
						<div class="my-2" th:text="'★ ' +${ResultData.getPGrade()}">★ 4.5</div>
						<div class="my-2" th:text="${ResultData.getPPrice} + '원'">금액</div>
						<div class="reservePrice my-2">
							<div class="resBtn mx-4">상세보기</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--분류 모달-->
	<div class="testModal hidden clasifyModal">
		<div class="testModalShape modal-content">
			<div class="modal-header d-flex justify-content-center align-content-center">
				<h5 class="modal-title">
					분류
				</h5>
				<button class="modalCloseBtn">
					<i class="bi bi-x-circle"></i>
				</button>
			</div>
			<div class="modal-body">
				<div class="modalOption clasifyOption">플래너</div>
				<div class="modalOption clasifyOption">웨딩홀</div>
			</div>
		</div>
	</div>
	<!--지역 선택 모달-->
	<div class="testModal hidden locationModal">
		<div class="testModalShape modal-content">
			<div class="modal-header d-flex justify-content-center align-content-center">
				<h5 class="modal-title">
					분류
				</h5>
				<button class="modalCloseBtn">
					<i class="bi bi-x-circle"></i>
				</button>
			</div>
			<div class="modal-body">
				<div class="modalOption locationOption">서울</div>
				<div class="modalOption locationOption">인천</div>
				<div class="modalOption locationOption">대전</div>
				<div class="modalOption locationOption">부산</div>
				<div class="modalOption locationOption">광주</div>
				<div class="modalOption locationOption">대구</div>
				<div class="modalOption locationOption">울산</div>
				<div class="modalOption locationOption">제주</div>
				<div class="modalOption locationOption">경기</div>
				<div class="modalOption locationOption">강원</div>
				<div class="modalOption locationOption">충북</div>
				<div class="modalOption locationOption">충남</div>
				<div class="modalOption locationOption">경북</div>
				<div class="modalOption locationOption">경남</div>
				<div class="modalOption locationOption">전북</div>
				<div class="modalOption locationOption">전남</div>
			</div>
		</div>
	</div>

	<!-- 정렬 모달-->
	<div th:switch="${OriginData[0]}">
		<div class="testModal hidden sortModal" th:case="웨딩홀">
			<div class="testModalShape modal-content">
				<div class="modal-header d-flex justify-content-center align-content-center">
					<h5 class="modal-title">
						분류
					</h5>
					<button class="modalCloseBtn">
						<i class="bi bi-x-circle"></i>
					</button>
				</div>
				<div class="modal-body">
					<a class="modalOption sortOption"
					   th:href="'/searchResult?columnData=c_idx&offset=0&sortData=desc&ck=rs&location='+${ResultDatas[0].getULocation()} + '&clasify=' + ${OriginData[0]} + '&date=' + ${OriginData[2]}+'&sorting=최신순▼'">최신순▼</a>
					<a class="modalOption sortOption"
					   th:href="'/searchResult?columnData=h_price&offset=0&sortData=desc&ck=rs&location='+${ResultDatas[0].getULocation()} + '&clasify=' + ${OriginData[0]} + '&date=' + ${OriginData[2]}+'&sorting=가격높은순▼'">가격높은순▼</a>
					<a class="modalOption sortOption"
					   th:href="'/searchResult?columnData=h_price&offset=0&sortData=asc&ck=rs&location='+${ResultDatas[0].getULocation()} + '&clasify=' + ${OriginData[0]} + '&date=' + ${OriginData[2]}+'&sorting=가격낮은순▼'">가격낮은순▼</a>
				</div>
			</div>
		</div>
		<div class="testModal hidden sortModal" th:case="플래너">
			<div class="testModalShape modal-content">
				<div class="modal-header d-flex justify-content-center align-content-center">
					<h5 class="modal-title">
						분류
					</h5>
					<button class="modalCloseBtn">
						<i class="bi bi-x-circle"></i>
					</button>
				</div>
				<div class="modal-body">
					<a class="modalOption sortOption"
					   th:href="'/searchResult?columnData=p_idx&offset=0&sortData=desc&ck=rs&location='+${ResultDatas[0].getULocation()} + '&clasify=' + ${OriginData[0]} + '&date=' + ${OriginData[2]}+'&sorting=최신순▼'">최신순▼</a>
					<a class="modalOption sortOption"
					   th:href="'/searchResult?columnData=p_price&offset=0&sortData=desc&ck=rs&location='+${ResultDatas[0].getULocation()} + '&clasify=' + ${OriginData[0]} + '&date=' + ${OriginData[2]}+'&sorting=가격높은순▼'">가격높은순▼</a>
					<a class="modalOption sortOption"
					   th:href="'/searchResult?columnData=p_price&offset=0&sortData=asc&ck=rs&location='+${ResultDatas[0].getULocation()} + '&clasify=' + ${OriginData[0]} + '&date=' + ${OriginData[2]}+'&sorting=가격낮은순▼'">가격낮은순▼</a>
					<a class="modalOption sortOption"
					   th:href="'/searchResult?columnData=comment&offset=0&sortData=desc&ck=rs&location='+${ResultDatas[0].getULocation()} + '&clasify=' + ${OriginData[0]} + '&date=' + ${OriginData[2]}+'&sorting=후기많은순▼'">후기
						많은순▼</a>
					<a class="modalOption sortOption"
					   th:href="'/searchResult?columnData=p_grade&offset=0&sortData=desc&ck=rs&location='+${ResultDatas[0].getULocation()} + '&clasify=' + ${OriginData[0]} + '&date=' + ${OriginData[2]}+'&sorting=별점 높은 순▼'">별점
						높은순▼</a>
				</div>
			</div>
		</div>
	</div>


</div>
</body>
</html>