<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/otherPageLayout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="/css/wedding/weddingDetail.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" th:href="@{/css/wedding/AreaModal.css}">
	<link rel="stylesheet" th:href="@{/css/wedding/imgToBig.css}">
	<link rel="stylesheet" th:href="@{/css/wedding/WedImgSlide.css}">


	<script src="https://Cajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div layout:fragment="content">
	<!-- 헤더 -->
	<nav class="navbar navbar-light bg-light sticky-top">
		<div class="container mx-3">
			<a class="navbar-brand" href="/">
				<img class="logoIcon" src="/imgs/logo.png" style="width: 2rem">
			</a>
			<a class="navbar-brand " style="margin-right: 2rem">
				<strong>드메르 웨딩홀</strong>
			</a>
			<a>
			</a>
		</div>
	</nav>
	<div th:each="WedList : ${WedList}">
		<div class="weddingCard  mt-3 mx-3">
			<div class="my-2 text-center hallTitle" th:text="${WedList.getHName()}">A홀</div>
			<div class="slider">
				<div class="sliderWrapper">
					<div class="sliderItems">
						<div class="sliderItem"></div>
						<div class="sliderItem" th:each="ImgList : ${ImgList}"
						     th:if="${WedList.getHName == ImgList.getHName}">
							<img class="sliderContent pink" th:src="${ImgList.getHImgPath}">
						</div>
						<div class="sliderItem"></div>
					</div>
				</div>
				<button class="sliderBtn sliderPrev"><</button>
				<button class="sliderBtn sliderNext">></button>
			</div>

			<div class="hallChoice">
				<div class="minMax">
					<div th:text="'인원수 : ' + ${WedList.getHMin()} + ' ~ ' + ${WedList.getHMax()}">인원수 : 최소 ~ 최대</div>
					<div th:text="'금액 : ' + ${WedList.getHPrice()}">금액 : 1,000,000</div>
				</div>
				<div class="choiceBtn">
					<button class="btn btn-light border-dark timeBtn" th:value="${WedList.getHName()}" type="button">시간
						선택
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 예약 확인 영역과 간격을 위한 div-->
	<div style="height: 8vh"></div>
	<!--예약 확인 영역 -->
	<div class="checkTime fixed-bottom">
		<div class="checkTimeInput">선택 안됨</div>
		<button class="btn btn-sm btn-light border-dark" onClick="location.href='/payment'" type="button">예약하기</button>
	</div>

	<!-- 시간 선택 모달 -->
	<div class="testModal hidden hallTimeModal">
		<div class="testModalShape modal-content">
			<div class="modal-header d-flex justify-content-center align-content-center">
				<h5 class="modal-title">
					시간선택
				</h5>
				<button class="modalCloseBtn">
					<i class="bi bi-x-circle"></i>
				</button>
			</div>
			<div class="modal-body">
				<div class="modalOption hallTimeOption">10:00-12:00</div>
				<div class="modalOption hallTimeOption">12:00-14:00</div>
				<div class="modalOption hallTimeOption">14:00-16:00</div>
				<div class="modalOption hallTimeOption">16:00-18:00</div>
				<div class="modalOption hallTimeOption">18:00-20:00</div>
			</div>
		</div>
	</div>

	<!-- 이미지 크게보기 모달 -->
	<div class="modal">
		<span class="close">&times;</span>
		<img class="modal_content">
	</div>

	<script th:inline="javascript">
		const timeBtn = document.querySelectorAll('.timeBtn')
		const modalBody = document.querySelector(".modal-body")
		let TimeList = [[${TimeList}]]
		let HallName = [[${HallName}]]


		for (let i = 0; i < timeBtn.length; i++) {
			timeBtn[i].addEventListener("click", (e) => {
				console.log(e.target.value)
				modalBody.replaceChildren();
				for (let j = 0; j < TimeList.length; j++) {
					const div1 = document.createElement("div");
					div1.className = 'modalOption hallTimeOption';
					if (e.target.value == TimeList[j].hname) {
						div1.innerText = TimeList[j].stime + " ~ " + TimeList[j].etime
						modalBody.appendChild(div1)
					}
				}
			})
		}
	</script>
</div>


</body>
</html>