<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/otherPageLayout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<link href="/css/wedding/wedInfoForm.css" rel="stylesheet" type="text/css">

</head>
<body>
<div layout:fragment="content">
	<!-- 헤더 -->
	<nav class="navbar navbar-light bg-light sticky-top">
		<div class="container mx-3">
			<a class="navbar-brand backBtn">
				<i class="bi bi-arrow-left"></i>
			</a>
			<a class="navbar-brand " style="margin-right: 2rem">
				<strong>업체 정보 입력</strong>
			</a>
			<a>
			</a>
		</div>
	</nav>
	<!-- 입력	-->
	<div class="inputSec mt-3 mx-3">
		<label class="mx-4 my-1" for="thumbImg">대표사진</label>
		<div class="thumbImgSec">
			<img id="thumbImg" src="/imgs/noImage.png">
		</div>
		<div class="fileBtn mt-2">
			<label for="file">
				<div class="btnUpload">사진찾기</div>
			</label>
			<input id="file" name="file" type="file">
		</div>
		<form class="mx-3">
			<div class="mb-3">
				<label class="form-label" for="address">주소</label>
				<input class="form-control" id="address" readonly type="text"
				       value="임의의 주소">
			</div>
			<div class="mb-3">
				<label class="form-label" for="detailAdd">상세 주소</label>
				<input class="form-control" id="detailAdd" type="text">
			</div>
			<div class="row mb-3">
				<label class="mb-2" for="buisness1">사업자등록번호</label>
				<div class="col">
					<input aria-label="First name" class="form-control" id="buisness1" type="number">
				</div>
				-
				<div class="col">
					<input aria-label="Last name" class="form-control" id="buisness2" type="number">
				</div>
				-
				<div class="col">
					<input aria-label="Last name" class="form-control" id="buisness3" type="number">
				</div>
			</div>
			<div class="d-grid gap-2 col-6 mx-auto mt-5">
				<button class="btn btn-light btn-outline-dark" onClick="location.href='/wedInfo'" type="button">
					정보등록
				</button>
			</div>
		</form>
	</div>


</div>

</body>

</html>