<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/otherPageLayout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<link href="/css/wedding/wedInfoForm.css" rel="stylesheet" type="text/css">

</head>
<body>
<div layout:fragment="content">
	<!-- 헤더 -->
	<nav class="navbar navbar-light bg-light sticky-top">
		<div class="container mx-3">
			<a class="navbar-brand backBtn">
				<i class="bi bi-arrow-left"></i>
			</a>
			<a class="navbar-brand " style="margin-right: 2rem">
				<strong>업체 정보 입력</strong>
			</a>
			<a>
			</a>
		</div>
	</nav>
	<!-- 입력	-->
	<div class="inputSec mt-3 mx-3">
		<label class="mx-4 my-1" for="thumbImg">대표사진</label>
		<div class="thumbImgSec">
			<img id="thumbImg" src="/imgs/noImage.png" alt="img_title">
		</div>

		<form class="mx-3" id="wedInfoForm">
			<div class="fileBtn mt-2">
				<label for="files">
					<div class="btnUpload">사진찾기</div>
				</label>
				<input id="files" name="file" type="file">
			</div>
			<div class="mb-3">
				<label class="form-label" for="address">주소</label>
				<input class="form-control" id="address" readonly type="text"
				       value="임의의 주소" name="address">
			</div>
			<div class="mb-3">
				<label class="form-label" for="detailAddr">상세 주소</label>
				<input class="form-control" id="detailAddr" type="text" name="detailAddr">
			</div>
			<div class="row mb-3">
				<label class="mb-2" for="business1">사업자등록번호</label>
				<div class="col">
					<input aria-label="First name" class="form-control" id="business1" type="number" name="business1">
				</div>
				-
				<div class="col">
					<input aria-label="Last name" class="form-control" id="business2" type="number" name="business2">
				</div>
				-
				<div class="col">
					<input aria-label="Last name" class="form-control" id="business3" type="number" name="business3">
				</div>
			</div>
			<div class="d-grid gap-2 col-6 mx-auto mt-5">
				<button class="btn btn-light btn-outline-dark" id="wedInfoSubmit" type="button">
					정보등록
				</button>
			</div>
		</form>
	</div>

	<script type="text/javascript" th:src="${@versionComponent.getVersion('/resources/build/wedInfoForm.bundle.js')}"></script>

</div>

</body>

</html>