<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="robots" content="ALL">
	<meta name="robots" content="index,follow">
	<meta name="revisit-after" content="1 days">
	<meta name="Subject" content="여보야">
	<meta name="description" content="결혼, 재혼, 배우자를 찾는 스마트한 방법, 가입비 주선비 성혼비 무료, 여성결혼대상자 무료, 문의 1522-3379">
	<meta name="keywords" content="결혼, 재혼, 결혼어플, 소개팅어플, 소개팅">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="HandheldFriendly" content="true">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="shortcut icon" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon.ico" type="image/x-icon">

	<link rel="apple-touch-icon" sizes="57x57" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="https://image.yeoboya.com/imgs/new_wedding/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon-16x16.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="https://image.yeoboya.com/imgs/new_wedding/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<title>여보야</title>
	<link rel="canonical" href="https://m.yeoboya.com">

	<link rel="stylesheet" type="text/css" href="../css/m_yby_font.css">
	<link rel="stylesheet" type="text/css" href="../css/m_yby_default.css">
	<link rel="stylesheet" type="text/css" href="../css/m_yby_popup.css">
	<link rel="stylesheet" type="text/css" href="../css/mobile.css">
	<link rel="stylesheet" type="text/css" href="../css/m_yby_member.css">

	<script src="../vendors/polyfill.min.js"></script>
	<script src="../vendors/jquery.min.js"></script>
	<script src="../vendors/lodash.min.js"></script>
	<script src="../vendors/axios.min.js"></script>
    <script src="../vendors/moment.min.js"></script>
    <script src="../vendors/jquery-mobile.event.min.js"></script>
	<script src="../vendors/onLoad.bundle.js"></script>
</head>

<body class="pc__bg">
	<div class="pc__container">
		<div class="member_bg">
			<header class="header">
				<button class="btn_back_area">
					<div class="btn_back">
						<span class="blind">뒤로</span>
					</div>
				</button>
				<h1 class="header_txt">회원가입</h1>
			</header>
			<!-- #6215 랜딩페이지 수정: 상단 문구 삭제 -->
			<!-- <div class="join_bnr">
				<div class="join_bnr__txt join_bnr__txt-s">간단 무료회원가입으로</div>
				<div class="join_bnr__txt join_bnr__txt-l">실제 결혼 이상형 프로필을 확인하세요</div>
			</div> -->
			<!-- // #6215 랜딩페이지 수정: 상단 문구 삭제 -->
			<div class="join_container">
				<div class="top_logo">
					<img src="https://image.yeoboya.com/imgs/new_wedding/mobile/new_login/logo_yby2.png" alt="여보야 로고">
					<p class="ment">해외 거주자나 동포 여러분도 가입 가능합니다.</p>
				</div>
				<form>
					<div class="join_box">
						<ul class="flex_container">
							<li>
								<div class="member_input">
									<input type="email" class="input_txt" maxlength="30" placeholder="이메일">
									<label class="hidden">이메일 아이디 입력</label>
									<a class="input_del blind"><span class="blind">지우기</span></a>
								</div>
							</li>
							<li class="at_sign">@</li>
							<li>
								<div class="member_slct">
									<label class="hidden">이메일 입력</label>
									<select>
										<option>naver.com</option>
										<option>nate.com</option>
										<option>daum.net</option>
										<option>hanmail.net</option>
										<option>gmail.com</option>
										<option>직접입력</option>
									</select>
								</div>
								<div class="member_input hidden">
									<input type="text" class="input_txt">
									<label class="hidden">이메일 입력</label>
									<a class="input_del blind"><span class="blind">지우기</span></a>
								</div>
							</li>
						</ul>
						<!-- <p class="join_txt">※ 가입 후 수정이 불가능합니다. 정확히 입력 해 주세요.</p> -->
						<p class="join_txt">※ 가입 후 수정이 불가능합니다. 정확히 입력 해 주세요.</p>
						<!-- <p class="join_txt error">이메일 주소를 입력하세요.</p> -->
					</div>
					<div class="join_box password">
						<div class="member_input">
							<input type="password" class="input_txt" placeholder="비밀번호" maxlength="12">
							<label class="hidden">비밀번호</label>
							<a class="input_del blind"><span class="blind">지우기</span></a>
						</div>
						<div class="member_input">
							<input type="password" class="input_txt" placeholder="비밀번호 확인" maxlength="12">
							<label class="hidden">비밀번호 확인</label>
							<a class="input_del blind"><span class="blind">지우기</span></a>
						</div>
						<!-- <p class="join_txt">※ 영어, 숫자(4자 ~ 12자)</p> -->
						<!-- <p class="join_txt confirm">등록 가능합니다.</p> -->
						<!-- <p class="join_txt error">4자 ~ 12자 영어, 숫자만 사용가능합니다.</p> -->
						<p class="join_txt">※ 영어, 숫자(4자 ~ 12자)</p>
					</div>
					<div class="join_box">
						<ul class="flex_container">
							<li>
								<div class="member_input">
									<input type="text" class="input_txt" placeholder="대화명">
									<label class="hidden">대화명</label>
									<a class="input_del blind"><span class="blind">지우기</span></a>
								</div>
							</li>
							<li>
								<ul class="sex_slct">
									<li class="slct_man">
										<input type="radio" class="sex_input">
										<label class="sex_lb"><span class="blind">남성</span></label>
									</li>
									<li class="slct_woman">
										<input type="radio" class="sex_input">
										<label class="sex_lb"><span class="blind">여성</span></label>
									</li>
								</ul>
							</li>
						</ul>
						<p class="join_txt">※ 한글만 사용할 수 있습니다. (2자 ~ 8자)</p>
					</div>
					<div class="join_box">
						<ul class="flex_container">
							<li>
								<div class="member_slct">
									<label class="hidden">태어난 년도</label>
									<select>
										<option value="0000">태어난 년도</option> <!-- 20세 ~ 99세 -->
										<option value="2002">2002</option>
										<option value="2001">2001</option>
										<option value="2000">2000</option>
										<option value="1905">1905</option>
										<option value="1904">1904</option>
										<option value="1903">1903</option>
									</select>
								</div>
							</li>
							<li>
								<div class="btn_slct_area">
									<input type="hidden">
									<input type="hidden">
									<a>지역&nbsp;&nbsp;&nbsp;&nbsp;국내/해외</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="join_box">
						<div class="btn_hope_area">
							<a class="">배우자 희망지역</a>
							<input type="hidden">
						</div>
						<p class="join_txt error"></p>
					</div>
					<div class="agree_policy">
						<div class="policy_chk_wrap">
							<input type="checkbox" class="policy_chk">
							<label class="policy_lb">약관 및 개인정보 보호 정책에 동의합니다.</label>
						</div>
						<a class="btn_view_policy"><u>[보기]</u></a>
					</div>
					<div class="btn_member"> 
						<a>가입완료</a>
					</div>
					<p class="jn_msg">※ 한번가입으로 <span>PC 웹, 모바일 웹</span> 어디서나 사용이 가능합니다.</p>
				</form>
				<div class="join__bnr">
					<img src="https://image.yeoboya.com/imgs/new_wedding/new_jsp/evnt/evnt_welcome/bnr_welcome.png" alt="웰컴 신규이벤트" class="join__bnr_img">
				</div>
			</div>
		</div>

		<!--  지역 선택 모달 -->
		<div class="normal_pop_wrap hidden">
			<div class="full_modal"></div>
			<div class="pop_region">
				<div class="pop_region_hd">
					<!-- 국내/해외 지역 미선택시 -->
					<span id="addressTitle">지역 선택</span>
					<!-- 국내 지역 선택시 -->
					<!-- <span class="slct_city">광주</span>
					<span class="slct_city_suf">상세지역을 선택하세요</span> -->
					<div class="btn_cls"><a>닫기</a>
					</div>
				</div>
				<div class="region_tab">
					<ul class="flex_container">
						<li><a class="slct_kr active"><span class="hidden">국내</span></a></li>
						<li><a class="slct_abroad"><span class="hidden">해외</span></a></li>
					</ul>
				</div>
				<!-- 국내 지역선택-->
				<div class="pop_region_content region_content_kr">
					<ul>
						<!-- 지역 선택시 class="chk_active" 추가 -->
						<li><a>서울</a></li>
						<li><a>경기</a></li>
						<li><a>인천</a></li>
						<li><a>대전</a></li>
						<li><a>대구</a></li>
						<li><a>부산</a></li>
						<li><a>광주</a></li>
						<li><a>세종</a></li>
						<li><a>울산</a></li>
						<li><a>충북</a></li>
						<li><a>충남</a></li>
						<li><a>전북</a></li>
						<li><a>전남</a></li>
						<li><a>경북</a></li>
						<li><a>경남</a></li>
						<li><a>강원</a></li>
						<li><a>제주</a></li>
						<li><a>북한</a></li>
					</ul>
				</div>
				<!-- 국내 상세 지역 선택 -->
				<div class="pop_region_content region_content_kr_detail hidden">
					<ul>
						<li><a>광산구</a></li>
						<li><a>남구</a></li>
						<li><a>동구</a></li>
						<li><a>북구</a></li>
						<li><a>서구</a></li>
					</ul>
				</div>
				<!-- 해외 지역선택 -->
				<div class="pop_region_content region_content_abroad hidden">
					<ul>
						<li><a>중국</a></li>
						<li><a>미국</a></li>
						<li><a>일본</a></li>
						<li><a>캐나다</a></li>
						<li><a>호주</a></li>
						<li><a>홍콩</a></li>
						<li><a>베트남</a></li>
						<li><a>뉴질랜드</a></li>
						<li><a>대만</a></li>
						<li><a>브라질</a></li>
						<li><a>미얀마</a></li>
						<li><a>필리핀</a></li>
						<li><a>영국</a></li>
						<li><a>독일</a></li>
						<li><a>가나</a></li>
						<li><a>가봉</a></li>
						<li><a>가이아나</a></li>
						<li><a>감비아</a></li>
						<li><a>과델로프</a></li>
						<li><a>과테말라</a></li>
						<li><a>괌</a></li>
						<li><a>교황청</a></li>
						<li><a>그레나다</a></li>
						<li><a>그루지아</a></li>
					</ul>
				</div>
				<div class="botom_btn">
					<div class="btn_half btn_prev" style="display:none;"
						><a>이전</a>
					</div>
					<!-- 국내/해외 지역 선택시 class="active" 추가-->
					<div class="btn_full btn_slct">
						<a>선택</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 배우자 희망지역 모달 -->
		<div class="normal_pop_wrap want_loc hidden">
			<div class="full_modal"></div>
			<div class="pop_hope_area">
				<div class="pop_header">
					<h2>배우자 희망지역 선택</h2>
					<a class="pop_cls"><span class="blind">닫기</span></a>
				</div>
				<div class="pop_content">
					<div class="hope_area_txt">선택지역에 결혼·재혼을 원하는 이성의 프로필이 등록되면 알림을 받으실 수 있습니다!</div>
					<ul class="flex_container hope_list">
						<li><a class="chk_area">전체</a></li>
						<li><a class="chk_area">서울</a></li>
						<li><a class="chk_area">경기</a></li>
						<li><a class="chk_area">인천</a></li>
						<li><a class="chk_area">대전</a></li>
						<li><a class="chk_area">대구</a></li>
						<li><a class="chk_area">부산</a></li>
						<li><a class="chk_area">광주</a></li>
						<li><a class="chk_area">세종</a></li>
						<li><a class="chk_area">울산</a></li>
						<li><a class="chk_area">충북</a></li>
						<li><a class="chk_area">충남</a></li>
						<li><a class="chk_area">전북</a></li>
						<li><a class="chk_area">전남</a></li>
						<li><a class="chk_area">경북</a></li>
						<li><a class="chk_area">경남</a></li>
						<li><a class="chk_area">강원</a></li>
						<li><a class="chk_area">제주</a></li>
						<li><a class="chk_area">북한</a></li>
						<li><a class="chk_area">해외</a></li>
					</ul>
				</div>
				<div class="pop_btn_box">
					<ul class="flex_container">
						<li class="btn_reset"><a>초기화</a></li>
						<li class="btn_complete"><a>확인</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script>
		// 지역선택
		$('.btn_slct_area').on('click', function() {
			$('.pop_region').parent('.normal_pop_wrap').toggleClass('hidden');
		});
		$('.btn_cls').on('click', function(){
			$('.normal_pop_wrap').addClass('hidden');
			$('.region_content_kr').removeClass('hidden');
			$('.region_content_kr_detail').addClass('hidden');
		});
		$('.region_content_kr').on('click', function() {
			$('.region_content_kr').addClass('hidden');
			$('.region_content_kr_detail').removeClass('hidden');
		});
		$(".slct_kr").on("click", function() {
            $(this).addClass("active");
            $('.slct_abroad').removeClass('active');
            $('.region_content_kr').removeClass('hidden');
			$('.region_content_abroad').addClass('hidden');
			$('.region_content_kr_detail').addClass('hidden');
        });
        $(".slct_abroad").on("click", function() {
            $(this).addClass('active');
            $('.slct_kr').removeClass('active');
            $('.region_content_abroad').removeClass('hidden');
			$('.region_content_kr').addClass('hidden');
			$('.region_content_kr_detail').addClass('hidden');
		});
		
		// 배우자 희망지역
		$('.btn_hope_area').on('click', function() {
			$('.want_loc').toggleClass('hidden')
		})
		$('.pop_cls').on('click', function() {
			$('.normal_pop_wrap').addClass('hidden');
		})

	</script>
	<script src="../vendors/siteMap.bundle.js"></script>
</body>

</html>