<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="robots" content="ALL">
	<meta name="robots" content="index,follow">
	<meta name="revisit-after" content="1 days">
	<meta name="Subject" content="여보야">
	<meta name="description" content="결혼, 재혼, 배우자를 찾는 스마트한 방법, 가입비 주선비 성혼비 무료, 여성결혼대상자 무료, 문의 1522-3379">
	<meta name="keywords" content="결혼, 재혼, 결혼어플, 소개팅어플, 소개팅">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="HandheldFriendly" content="true">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="shortcut icon" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon.ico" type="image/x-icon">

	<link rel="apple-touch-icon" sizes="57x57" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="https://image.yeoboya.com/imgs/new_wedding/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon-16x16.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="https://image.yeoboya.com/imgs/new_wedding/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<title>여보야</title>
	<link rel="canonical" href="https://m.yeoboya.com">

	<link rel="stylesheet" type="text/css" href="../css/m_yby_font.css">
	<link rel="stylesheet" type="text/css" href="../css/m_yby_default.css">
    <link rel="stylesheet" type="text/css" href="../css/m_yby_popup.css">
    <link rel="stylesheet" type="text/css" href="../css/mobile.css">
    <link rel="stylesheet" type="text/css" href="../css/m_yby_member.css">

	<script src="../vendors/polyfill.min.js"></script>
	<script src="../vendors/jquery.min.js"></script>
	<script src="../vendors/lodash.min.js"></script>
	<script src="../vendors/axios.min.js"></script>
    <script src="../vendors/moment.min.js"></script>
    <script src="../vendors/jquery-mobile.event.min.js"></script>
	<script src="../vendors/onLoad.bundle.js"></script>
</head>
<body>
	<div class="member_bg" style="height: 851px;">
		<header class="header">
			<button class="btn_back_area">
				<div class="btn_back"> <span class="blind">뒤로</span>
				</div>
			</button>
			<h1 class="header_txt">아이디/비밀번호 찾기</h1>
		</header>
		<div class="find_container">
			<form>
				<div class="find_box">
					<h2 class="find_box_tit">아이디(이메일) 찾기</h2>
					<p class="find_box_txt">회원가입시 등록한 휴대폰 번호를 입력 해 주세요.</p>
					<div class="member_input">
						<input type="tel" class="input_txt" maxlength="11" placeholder="숫자만 입력">
						<label  class="hidden">휴대폰 번호입력</label>
						<a class="input_del blind"><span class="blind">지우기</span></a>
					</div>
					<div class="btn_member"> <a>아이디 찾기</a>
					</div>
				</div>
				<div class="find_box">
					<h2 class="find_box_tit">비밀번호 찾기</h2>
					<p class="find_box_txt">회원가입시 등록한 이메일(아이디)과 인증받으신 휴대폰 번호로 임시 비밀번호가 전송됩니다.
						<br>아이디 유무를 먼저 확인하세요.</p>
					<div class="member_input">
						<input type="text" name="memId" class="input_txt" style="ime-mode: inactive" placeholder="아이디(이메일) 입력">
						<label for="memId" class="hidden">아이디(이메일)입력</label>
						<a class="input_del blind"><span class="blind">지우기</span></a>
					</div>
					<div class="btn_member"> <a>아이디 유무 확인하기</a>
					</div>
					<div class="member_input" style="display:none;">
						<input type="tel" name="certHphone" class="input_txt" maxlength="11" placeholder="휴대폰 번호 입력">
						<label for="certHphone" class="hidden">휴대폰 번호입력</label>
						<a class="input_del blind"><span class="blind">지우기</span></a>
					</div>
					<div class="btn_member" style="display:none;">
						<a>비밀번호 찾기</a>
					</div>
				</div>
				<div class="find_btn_box">
					<ul class="flex_container">
						<li> 
							<a class="btn_cs_email">이메일 문의</a>
						</li>
						<li> 
							<a class="btn_member">로그인</a>
						</li>
					</ul>
				</div>
			</form>
		</div>
	</div>

	<script src="../vendors/siteMap.bundle.js"></script>
</body>
</html>