<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="robots" content="ALL">
	<meta name="robots" content="index,follow">
	<meta name="revisit-after" content="1 days">
	<meta name="Subject" content="여보야">
	<meta name="description" content="결혼, 재혼, 배우자를 찾는 스마트한 방법, 가입비 주선비 성혼비 무료, 여성결혼대상자 무료, 문의 1522-3379">
	<meta name="keywords" content="결혼, 재혼, 결혼어플, 소개팅어플, 소개팅">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="HandheldFriendly" content="true">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="shortcut icon" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon.ico" type="image/x-icon">

	<link rel="apple-touch-icon" sizes="57x57" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://image.yeoboya.com/imgs/new_wedding/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="https://image.yeoboya.com/imgs/new_wedding/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://image.yeoboya.com/imgs/new_wedding/favicon/favicon-16x16.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="https://image.yeoboya.com/imgs/new_wedding/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<title>여보야</title>
	<link rel="canonical" href="https://m.yeoboya.com">

	<link rel="stylesheet" type="text/css" href="../css/m_yby_font.css">
	<link rel="stylesheet" type="text/css" href="../css/m_yby_default.css">
    <link rel="stylesheet" type="text/css" href="../css/m_yby_popup.css">
    <link rel="stylesheet" type="text/css" href="../css/mobile.css">
    <link rel="stylesheet" type="text/css" href="../css/m_yby_member.css">

	<script src="../vendors/polyfill.min.js"></script>
	<script src="../vendors/jquery.min.js"></script>
	<script src="../vendors/lodash.min.js"></script>
	<script src="../vendors/axios.min.js"></script>
    <script src="../vendors/moment.min.js"></script>
    <script src="../vendors/jquery-mobile.event.min.js"></script>
	<script src="../vendors/onLoad.bundle.js"></script>
</head>

<body>
	<div class="member_bg" style="height: 851px;">
		<form class="login_form">
			<input type="hidden">
			<div class="flex_container login">
				<div class="login_wrap">
					<div class="y_people">
						<img src="https://image.yeoboya.com/imgs/new_wedding/mobile/new_login/img_login2.png" alt="로그인">
					</div>
					<div class="login_box">
						<div class="y_logo">
							<img src="https://image.yeoboya.com/imgs/new_wedding/mobile/new_login/img_yby_logo.png">
						</div>
						<div class="input_id">
							<div class="id_box">
								<label for="memIdHead" class="login_lb id_lb">아이디</label>
								<input type="text" class="input_box" placeholder="아이디">
							</div>
							<p class="mail">@</p>
							<div class="select_box">
								<input type="text" class="mail_box hidden">
								<a class="del_input hidden"></a>
								<select class="mail_d">
									<option>naver.com</option>
									<option>nate.com</option>
									<option>daum.net</option>
									<option>hanmail.net</option>
									<option>gmail.com</option>
									<option>직접입력</option>
								</select>
							</div>
						</div>
						<div class="input_pw">
							<label class="login_lb pw_lb">비밀번호</label>
							<!-- #5784 비밀번호 표시기능 -->
							<!-- 비밀번호 보기 : join_pass 클래스 삭제 -->
							<input type="password" class="join_form join_pass" placeholder="비밀번호" maxlength="12">
							<!-- 비밀번호 보기 아이콘 : active 클래스 추가 -->
							<a class="pw_hide"></a>
							<!-- // #5784 -->
						</div>

						<div class="input_btn">
							<input type="button" class="btn_login btn_click" value="로그인">
						</div>
						<div class="etc_menu">
                            <a><p class="find_info">이메일·비밀번호 찾기</p></a>
                            <span class="etc_menu_bar"></span>
							<a><p class="customer_center">고객센터</p></a>
						</div>
					</div>
					<div class="etc_box">
						<div class="social_lg">
							<div class="btn_sc sc_kko btn_click">
								<a><img src="https://image.yeoboya.com/imgs/new_wedding/mobile/new_login/ico_sc_kko.png" alt="카카오"></a>
							</div>
							<div class="btn_sc sc_nv btn_click">
                                <a><img src="https://image.yeoboya.com/imgs/new_wedding/mobile/new_login/ico_sc_nv.png" alt="네이버"></a>
							</div>
							<div class="btn_sc sc_fb btn_click">
								<a><img src="https://image.yeoboya.com/imgs/new_wedding/mobile/new_login/ico_sc_fb.png" alt="페이스북"></a>
							</div>
							<div class="btn_sc sc_gg btn_click">
								<a><img src="https://image.yeoboya.com/imgs/new_wedding/mobile/new_login/ico_sc_gg.png" alt="구글"></ab>
							</div>
						</div>
						<div class="join">
							<p class="jn_msg">※ 한번가입으로 <span>PC 웹, 모바일 웹</span> 어디서나 사용이 가능합니다.</p>
							<a class="join_btn btn_click">무료회원가입</a>
							<div class="offer_box">

								<div class="yby_offer">
									<a><span class="ico_yby_offer partner_join">제휴 회원가입</span></a>
								</div>
								<div class="yby_offer">
									<a><span class="ico_yby_offer partner">제휴문의</span></a>
								</div>
								<div class="yby_offer">
                                    <a><span class="ico_yby_offer thanks">실제 성혼 후기글</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script>
		$('.pw_hide').on('click', function() {
			$(this).toggleClass('active')
			$(this).siblings('.join_form').toggleClass('pass_active')
			$(this).siblings('.join_form').toggleClass('join_pass')

			if ($(this).siblings(':input').attr('type') == 'password'){
				$(this).siblings('input').attr('type', 'text')
				
			} else {
				$(this).siblings('input').attr('type', 'password')

			}
			
		})
	</script>
    <script src="../vendors/siteMap.bundle.js"></script>
</body>
</html>