<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.project.proc.MainPageWedding">

    <select id="getStartWed" resultType="com.smart.project.web.mainpage.vo.MainCompanyVO" parameterType="String">
        select u_name, c_img_name, c_img_path, u_idx
        from company_result2
        where u_location = #{u_location} LIMIT 10;
    </select>


</mapper>